.home {
	padding-top: 50px;
}

.home-greeting {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

.home-greeting-avatar {
	border-radius: 100%;
	width: 300px;
}

.home-greeting-content {
	width: 500px;
	margin: 50px;
}

.home-greeting-content-description {
	margin: 30px 0 30px 0;
	color: #CCC;
	font-weight: lighter;
}

.home-posts {
	width: 100%;
	display: flex;
	justify-content: center;
}

.home-posts-grid {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	max-width: 1500px;
}
