.not-found {
	width: 100%;
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.not-found-code {
	font-weight: bold;
	font-size: 10em;
}

.not-found-text {
	font-size: 3.72em;
	white-space: nowrap;
}
