.about-greeting {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

.about-greeting-avatar {
	border-radius: 100%;
	width: 300px;
}

.about-greeting-content {
	width: 500px;
	margin: 50px;
}

.about-greeting-content-description {
	margin: 30px 0 30px 0;
	color: #CCC;
}

.about-greeting-content-contact {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

.about-greeting-content-contact-item {
	margin: 0.5em;
	font-size: 2.5em;
	text-decoration: none;
	transition: 0.25s;
}

.about-greeting-content-contact-item-github {
	color: #CCC;
}

.about-greeting-content-contact-item-github:hover {
	color: #FFF;
}

.about-greeting-content-contact-item-email {
	color: #A242D9;
}

.about-greeting-content-contact-item-email:hover {
	color: #D575FC;
}

.about-greeting-content-contact-item-linkedin {
	color: #0E76A8;
}

.about-greeting-content-contact-item-linkedin:hover {
	color: #41A9DB;
}

.about-greeting-content-contact-item-twitter {
	color: #1DA1F2;
}

.about-greeting-content-contact-item-twitter:hover {
	color: #50D4FF;
}

.about-greeting-content-contact-item-youtube {
	color: #F00;
}

.about-greeting-content-contact-item-youtube:hover {
	color: #F33;
}
