.hello-world-greeting {
	font-weight: bold;
}

@media only screen and (max-width: 530px) {
	.hello-world-greeting {
		font-size: 2.25em;
	}

	.hello-world-introduction {
		font-size: 1em;
	}
}

@media only screen and (min-width: 531px) {
	.hello-world-greeting {
		font-size: 3.5em;
	}
	
	.hello-world-introduction {
		font-size: 2em;
	}
}

.hello-world-introduction-name {
	font-size: 1em;
	color: #DD7261;
}

.hello-world-introduction-appendix {
	font-size: 1em;
	color: gray;
	font-style: italic;
}