.hello-world-greeting {
	font-weight: bold;
}

@media only screen and (max-width: 550px) {
	.hello-world-greeting {
		font-size: 36px;
	}

	.hello-world-introduction {
		font-size: 18px;
	}
}

@media only screen and (min-width: 551px) {
	.hello-world-greeting {
		font-size: 60px;
	}
	
	.hello-world-introduction {
		font-size: 28px;
	}
}

.hello-world-introduction-name {
	font-size: 1em;
	color: #DD7261;
}

.hello-world-introduction-appendix {
	font-size: 1em;
	color: gray;
	font-style: italic;
}