.navbar {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}

@media only screen and (max-width: 510px) {
	.navbar {
		justify-content: center;
	}
}

@media only screen and (min-width: 511px) {
	.navbar {
		justify-content: space-between;
	}
}

.navbar-avatar {
	height: 70px;
	border-radius: 100%;
	padding: 10px;
	margin-left: 10px;
}

.navbar-links {
	padding: 20px;
}

.navbar-links-item {
	font-size: 1.25em;
	padding: 10px;
	margin: 10px;
	text-decoration: underline transparent solid 0.2em;
	text-underline-offset: 0.4em;
	font-weight: bold;
	transition: 0.1s;
}

.navbar-links-item-first {
	color: #BB4F4E;
}

.navbar-links-item-second {
	color: #DD7261;
}

.navbar-links-item-third {
	color: #EBA973;
}

.navbar-links-item:hover, .navbar-links-item.active {
	text-underline-offset: 0.4em;
}

.navbar-links-item-first:hover, .navbar-links-item-first.active {
	text-decoration: underline #BB4F4E solid 0.2em;
}

.navbar-links-item-second:hover, .navbar-links-item-second.active {
	text-decoration: underline #DD7261 solid 0.2em;
}

.navbar-links-item-third:hover, .navbar-links-item-third.active {
	text-decoration: underline #EBA973 solid 0.2em;
}