.post {
	transition: 0.1s;
	text-decoration: none;
}

.post:hover {
	scale: 1.03;
}

@media only screen and (max-width: 600px) {
	.post {
		padding: 10px 0px 10px 0px;
	}
}

@media only screen and (min-width: 601px) {
	.post {
		padding: 10px 50px 10px 50px;
	}
}

@media only screen and (max-width: 510px) {
	.post-cover {
		width: 100vw;
	}
}

@media only screen and (min-width: 511px) {
	.post-cover {
		width: 480px;
	}
}

.post-info {
	margin: 20px;
}

.post-info-title {
	color: white;
	font-size: 30px;
}

.post-info-meta {
	color: gray;
	font-size: 14px;
	margin-left: 10px;
	font-weight: 300;
	margin-top: 20px;
}

.post-info-meta-symbol {
	color: gray;
}

.post-info-description {
	margin-top: 20px;
	color: #CCC;
	font-size: 16px;
}