.footer {
	width: 100%;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-text {
	color: gray;
}

.footer-heart {
	color: white;
	font-size: 30px;
	transition: 0.1s;
}
.footer-heart:hover {
	color: #BF2243;
}

.footer-react {
	color: white;
	font-size: 30px;
	transition: 0.1s;
}

.footer-react:hover {
	color: #61DBFB;
}